section.modal.my-orders {}
section.modal.my-orders .modal-box{width: 50vw; height: 70vh;}
section.modal.my-orders .modal-box .body {max-height:calc(100% - 50px - 55px);overflow-y: auto;}
section.modal.my-orders .modal-box .body .date-picker-block .date-picker{height:100%}
section.modal.my-orders .modal-box .body .date-picker-block p-table{height:calc(100% - 19px)}
section.modal.my-orders .modal-box .body .profits-block .total{text-align:center;margin-top:10px;font-weight: bold; font-size: 20px;}